instance field may contain data that is not a URI

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
- Construct a new Quarkus project with the steps indicated in the project README
- `mvn quarkus:dev`
- `curl http://localhost:8080/unknown`

**Expected behavior**

The contents of the returned `instance` field are a valid URI conforming to https://www.rfc-editor.org/rfc/rfc3986#section-3 This is what is referred to from the problem+json RFC https://datatracker.ietf.org/doc/html/rfc7807#section-3.1.

Right now, the following JSON is returned:

```json
{
  "status": 404,
  "title": "Not Found",
  "detail": "RESTEASY003210: Could not find resource for full path: http://localhost:8080/unknown",
  "instance": "/unknown"
}
```

RFC 3986 always requires a scheme:

> The scheme and path components are required, though the path may be empty.

Therefore, instances should be prefixed with `http...`.


Hi @languitar, sorry for late reply, holiday time (mostly afk :)). Thanks for your contribution!

[RFC7807](https://datatracker.ietf.org/doc/html/rfc7807#section-3.1) states that relative URIs are perfectly fine:
```
Note that both "type" and "instance" accept relative URIs; this means
that they must be resolved relative to the document's base URI, as
per [[RFC3986], Section 5](https://datatracker.ietf.org/doc/html/rfc3986#section-5).
```

I have to admit that current implementation may not cover all cases correctly (like context-paths on api gateways etc), but in general is valid from RFC point of view IMO.

On the other hand I can clearly see the value of your proposal, but I suggest to make it opt-in via build-time config, while keeping relative urls by default. What do you think about this?


Ah, I have missed that note and with only the reference to RFC 3986 in the list of problem fields it sounds as if only full URIs and not relative references are accepted.

The reason I stumbled upon this issue is that we validate our API using stoplight Prism. Our API definition is based on the [published Zalando OpenAPI spec](https://opensource.zalando.com/problem/) which uses

```yaml
    instance:
      type: string
      format: uri
```

Format `uri` is not standardized by OpenAPI (https://swagger.io/specification/#data-types) and Prism seems to always interpret this as full URIs. What a nasty combination of imprecise specifications :/

Regarding an option to toggle this feature: sounds reasonable. However, I have no real experience in developing Quarkus plugins. Do you have a quick pointer how to realize this?

Thanks for elaborating on your use case.

> Regarding an option to toggle this feature: sounds reasonable. However, I have no real experience in developing Quarkus plugins. Do you have a quick pointer how to realize this?

Sure I can guide you, but let's talk code in the PR, shall we? I'll add some hints as PR comment a bit later.

For the reference, Zalando also stumbled upon the uri vs uri-reference problem since we adopted their OpenAPI specification for problem+json.

I will get back to the implementation next week hopefully.

To wrap this up, https://swagger.io/specification/#relative-references-in-uris states:

```
Relative References in URIs
Unless specified otherwise, all properties that are URIs MAY be relative references as defined by [RFC3986](https://tools.ietf.org/html/rfc3986#section-4.2).
(...)

Relative References in URLs
Unless specified otherwise, all properties that are URLs MAY be relative references as defined by [RFC3986]
```

Looks like Prism is a bit too strict with it's validation. Moreover, this issue is about openapi specification, not whether json responses this extension generates conform RFC7807 (they do conform IMO). 

For openapi.yaml/json created manually: using `uri-reference` instead of `uri` as format sounds like a decent solution. 

For yaml/json generated from code by auto-generators - it's not feasible for this extension to influence which format those tools use for URI type. For jackson a mixin with proper annotations may help, but we don't want to introduce any jackson and/or any openapi library annotations into this extension if we really don't have to.
